{{#partial "content" }}
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="content-header">
                <h1 class="content-header__title">Get MOT reminders</h1>
            </header>

            <div class="text">
                <p class="lede">Sign up to get reminders by email when your MOT is due.</p>

                <p>You’ll get an email one month before your MOT is due. You’ll get another email if you still haven’t had your vehicle tested 2 weeks before your MOT is due.

</p>

            
            </div>

            <nav class="content-navigation">
                <a href="{{{url this "/vrm"}}}" id="startButton" class="button">Start now</a>
            </nav>

            <div class="text">
                <h2 class="heading-medium">Before you start</h2>

                <p>You need the vehicle’s number plate (registration number).</p>

                <h2 class="heading-medium">Vehicles you can’t get reminders for</h2>
                
                <p>You can’t get reminders for a vehicle that:</p>
                
                <ul class="list-bullet">
                    <li>has never had an MOT</li>
                    <li>doesn’t have a current MOT</li>
                    <li>needs an <a href="https://www.gov.uk/annual-test-for-lorries-buses-and-trailers">annual test</a> instead of an MOT, such as lorries, buses and coaches</li>
                    <li>needs more than one MOT a year, such as taxis</li>
                </ul>


                <h2 class="heading-medium">Stop getting reminders</h2>

                <p>You have to unsubscribe to stop getting emails for a vehicle you’ve:</p>

                <ul class="list-bullet">
                    <li>sold</li>
                    <li>transferred to someone else</li>
                    <li>scrapped or written-off</li>
                    <li>registered as off the road</li>
                </ul>

                <p>Use the unsubscribe link in the original confirmation email or any reminders you’ve been sent.</p>

            </div>
        </div>
        
        <div class="column-third">
            <div class="related">
                <div class="related__section">
                    <h2 class="related__section-title">Elsewhere on GOV.UK</h2>
                    <ul class="related__section-links">
                        <li><a href="https://www.gov.uk/getting-an-mot/">Getting an MOT</a></li>
                        <li><a href="https://www.gov.uk/check-mot-status">Check the MOT status of a vehicle</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> master pageTitle="Get MOT reminders"}}
